body {
    background-color: wheat;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    background-color: grey;
    padding: 10px;
  }

  /* Flex Container settings*/

  @media (max-width:800px) {
    .container{
        flex-direction: column;
    }
  }

  /* Example, media-sensitive settings*/
  
  .container > div {
    background-color: #f1f1f1;
    margin: 1px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }

  .container > div.header {
    grid-area: 1 / 1 / span 2 / span 5;
    text-align: center;
  }

  .container > div.question {
    grid-area: auto / 1 / span 3 / span 5;
    font-size: 50px;
  }

  .container > div.input {
    grid-area: auto / auto / span 1 / span 5;
  }

  .container > div.submitButton {
    grid-area: auto / auto / span 1 / span 5;
  }

  .container > div:hover{
    background-color: turquoise;
    color: white;
    transition: all 0.3s ease;
}

  /*Flex Item settings within the container, here the hover function lets it change colour when we mouse over it*/

input[type=text] {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    width: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}